{% extends 'base.html.twig' %}

{% block title %}Registro Usuarios{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenido al {{ controller_name }}! ✅</h1>

    //llamamos a la clave de acceso "exito" desde el controlador
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    Ingrese Credenciales del Usuario
    {{ form(formulario) }}

</div>
{% endblock %}
